<h1>numbtype</h1>
<form action="/home/resulttable/" method="POST">
    
    <h3>ssg gogo</h3>
    
    <input type="text" name="startstring" placeholder="시작주소"><br/>
    
    <input type="text" name="startnum" placeholder="시작넘버"><br/>
    <input type="text" name="endnum" placeholder="끝넘버"><br/>
    
    <input type="text" name="endstring" placeholder="끝주소"><br/>
    
    <input type="submit" value="send">
    
</form>