<h1>numbtype</h1>
<form action="/home/resulttable/" method="POST">
    
    <h3>ssg gogo</h3>
    
    <input type="text" name="startstring" placeholder="시작주소" value="http://www.ssg.com/item/popup/popupCoupon.ssg?offerId="><br/>
    
    <input type="text" name="startnum" placeholder="시작넘버" value="1100061370"><br/>
    <input type="text" name="endnum" placeholder="끝넘버" value="1100061370"><br/>
    
    <input type="text" name="endstring" placeholder="끝주소" value="&offerDtlSeq=1"><br/>
    
    <input type="submit" value="send">
    
</form>

<a href="/home/resulttable">결과페이지</a>